.footerGroup {
    width: 1160px;
    height: 350px;
    border-radius: 30px;
    background-color: #f9ebff;
    margin-top: 75px;
    display: flex;
    margin-bottom: 95px;
  }
  
  .footerText {
    width: 823px;
    height: 120px;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    padding-top: 46px;
    padding-left: 52px;
  }
  
  .handImg {
    width: 345.8px;
    height: 337.53px;
  }
  
  .footerButton {
    width: 275px;
    height: 52px;
    background-color: #580ea2;
    border-radius: 46px;
    border: none;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    /* letter-spacing: -0.05000000074505806px; */
    text-align: left;
    display: flex;
    justify-content: center;
    margin-left: 52px;
    margin-bottom: 64px;
    align-items: center;
    cursor: pointer;
  }
  
  .footerInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  