.name {
width: 528px;
height: 181px;
font-family: StratosSkyeng;
font-size: 64px;
font-weight: 400;
line-height: 72px;
letter-spacing: -0.800000011920929px;
text-align: left;


}

.block{
    position: relative;
}
.block__title{
    position: absolute;
    top: 30px;
    left: 30px;
}