.cards_block {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 37px;
  row-gap: 44px;
}
.cards_alert {
  width: 100%;
  height: auto;
  padding: 15px;
  border: 1px solid #580EA2;
  border-radius: 4px;
  color: #fff;
  background-color: #580EA2;
  font-size: 48px;
  line-height: 56px;
  text-align: left;
}

.cards_noCourses_container {
  width: 100%;
}

.cards_noCourses_message {
  height: 100px;
  margin-bottom: 15px;
  padding: 15px 30px;
  border-radius: 4px;
  color: #fff;
  background-color: #580EA2;
  font-size: 48px;
  line-height: 56px;
  text-align: left;
}
