
.card {
    position: relative;
    width: 360px;
    height: 480px;
    transition: .3s;
}

.card:hover {
   transform: scale(1.03);
}

.card_shadow {
    border-radius: 30px;
    box-shadow: -10px 10px 16px 0px #0000001a;
    box-shadow: 10px -10px 16px 0px #0000001a;
}

.card_title {
    position: absolute;
    top: 30px;
    left: 30px;
    color: #000000;
    font-size: 36px;
    line-height: 40px;
}

.card_img {
    border-radius: 30px;
    width: 100%;
    height: 100%;
}

.card_button {
    width: 136px;
    height: 43px;
    /* padding: 10 20 10 20; */
    margin-left: 30px;
    margin-bottom: 27px;
    border-radius: 80px;
    border: none;
    background-color: #c7e957;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
  
    position: absolute;
    top: 87%;
    left: 23%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }