.pageContainer {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.modalForm {
  max-height: 555px;
  width: 444px;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 12px;
  padding: 36px 46px 30px 51px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.modalFixedProgress {
  width: 444px;
  height: 360px;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: center;
  padding: 41px 88px 0px 88px;
}

.fixedImg {
  margin-left: -20px;
}

.fixedTitle {
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  font-weight: 400;
}

.title {
  font-size: 32px;
  padding-bottom: 30px;
  font-weight: 400;
}

.modalText {
  font-size: 18px;
  width: 364px;
  padding-bottom: 16px;
}

.modalInputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 38px;
  overflow-y: auto;
}

.modalInput {
  width: 100%;
  border: none;
  border-bottom: 1px solid #d0cece;
  padding: 6px 0px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  -moz-appearance: textfield;
}

.modalInput::-webkit-inner-spin-button {
  display: none;
}

.modalInput:focus {
  outline: none;
}

.modalInputsResult {
  display: flex;
  flex-direction: column;
}

.modalInput::placeholder {
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #d0cece;
}

.primaryButton {
  width: 278px;
  height: 52px;
  border-radius: 46px;
  border: none;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}

.primaryButton {
  color: #ffffff;
  background-color: #580ea2;
}

.primaryButton:hover {
  background-color: #3f007d;
}

.primaryButton:active {
  background-color: #271a58;
}

.primaryButton:disabled {
  background-color: #271a58;
}

.error {
  color: red;
  font-size: 12px;
  display: block;
  height: 17px;
  line-height: 1;
  padding-top: 3px;
}

.errorForm {
  height: 30px;
  text-align: center;
  color: red;
  display: block;
  padding: 8px;
}

/* Скрываем стрелки в input для всех браузеров */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-clear-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
