.top {
    display: flex;
    justify-content: space-between;
}

.top__sub_title {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.05px;
    color: #FFFFFF;
    opacity: 50%;
}

.top__title {
    margin-top: 17px;
    font-weight: 400;
    font-size: 60px;
    line-height: 55px;
    letter-spacing: -1.17px;
    width: 830px;
    color: #F4F4FF;

}
.top__second{
    position: relative;
    left: 50px;
    top: 27px;
    width: 212px;
    height: 152px;
}
.top__svg{
    width: 100%;
    height: 100%;
}

.middle {
    display: flex;
    flex-wrap: wrap;
    column-gap: 37px;
    row-gap: 44px;
    margin-top: 52px;
}

.middle__card {
    width: 360px;
    height: 480px;
    transition: .3s;

}
.middle__card:hover {
   transform: scale(1.03);
}

.middle__img {
    width: 100%;
    height: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    margin: 34px 0 60px 0;
}

.footer__button {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.1px;
    width: 147px;
    height: 48px;
    background-color: #C7E957;
    border-radius: 49px;
    padding: 14px 24px;
    ;
    border: none;
    cursor: pointer;
}

.footer__button:hover {
    background-color: #DAF289;
    transition: .4s ease-in-out;
}
.footer__button:active {
    background-color: #EBFFAB;
    transition: .4s ease-in-out;
}