.section{
    padding-left: 140px;
    padding-right: 140px;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top__sub_title {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.05px;
    margin-bottom: 17px;
}

.top__title {
    font-weight: 400;
    font-size: 60px;
    line-height: 55px;
    letter-spacing: -1.17px;
    width: 830px;
}

.top__svg {
    height: 151px;
}