.container {
  position: relative;
  margin-bottom: 50px;
}

.title_courses {
  margin-top: 75px;
  margin-bottom: 60px;
  width: 304px;
  height: 56px;
  font-size: 48px;
  line-height: 56px;
  text-align: left;
}
