.yogaTitle { 
  width: 452px;
  height: 48px;
  font-size: 40px;
  line-height: 48px;
  text-align: left;
  padding-top: 75px;
  padding-bottom: 40px;
}

.description {
  align-items: flex-start;
  display: flex;
  margin-top: 40px;
  gap: 87px
}

.pointsText {
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  width: 244px;
  height: 96px;
}

.pointsInfo {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.types {
  width: 260px;
  height: 48px;
  margin-top: 75px;
  font-size: 40px;
  line-height: 48px;
  text-align: left;
}

.yogaAllTypes {
  margin-left: 35px;
  display: flex;
  gap: 168px;
  margin-top: 22px;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
}

.typesColumn {
  width: 254px;
  height: 96px;
}

.yogaDescription {
  width: 1160px;
  height: 96px;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  margin-top: 75px;
}

.footerGroup {
  width: 1160px;
  height: 350px;
  border-radius: 30px;
  background-color: #F9EBFF;
  margin-top: 75px;
  display: flex;
}

.footerText {
  width: 823px;
  height: 120px;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  padding-top: 46px;
  padding-left: 52px;
}

.handImg {
  width: 345.8px;
  height: 337.53px;
}

.footerButton{
  width: 275px;
  height: 52px;
  background-color: #580EA2;
  border-radius: 46px;
  border: none;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 24px;
  /* letter-spacing: -0.05000000074505806px; */
  text-align: left;
  display: flex;
  justify-content: center;
  margin-left: 52px;
  margin-bottom: 64px;
  align-items: center;
  cursor: pointer;
}

.footerInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}