.banner_block {
  position: relative;
  height: 310px;
  background-color: #f5f5f5;
  border-radius: 30px;
  overflow: hidden;
}

.banner_name {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 64px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: -0.8px;
}

.banner_img {
  position: absolute;
  height: 410px;
  top: -70px;
  right: 90px;
}
