@font-face {
  font-family: "StratosSkyeng";
  src:
    url("../public/assets/fonts/StratosSkyeng.woff2") format("woff2"),
    local("Arial");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "StratosSkyeng";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  background-color: #271A58;
  background-color: #ffff;
  margin: 0;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
li,
ol {
  margin: 0;
  padding: 0;
}
